<app-header>
    <h3 class="title">{{title}}</h3>
    <img [src]="logo" class="logo" [style.width.px]="width" (click)="logSrc(logo)" alt="">
    <app-search [placeholder]="text"
    (search)="searchTerm = $event"></app-search>
</app-header>

<div *ngIf="users$ | async as users; else loaderBlock">
  <app-card *ngFor="let user of users | usersFilter: searchTerm; index as i; odd as isOdd" 
    [position]="i+1"
    [user]="user"
    [isOdd]="isOdd"
  >
  </app-card>
</div>
<ng-template #loaderBlock class="loader__center">
  <div>
    <img [src]="loader" alt="">
  </div>
</ng-template>
